---
import Container from "@layouts/Container.astro";
import Layout from "@layouts/Layout.astro";
import type { Seo } from "@interfaces/Seo";

const seo: Seo = {
  title: "Cenakin OTEC Cursos Viña del Mar, Chile",
  description:
    "Un nuevo método de enseñanza para distintos cursos, con materiales incluidos, docentes kinesiólogos y calidad de servicio Viña del Mar, Chile.",
  url: "https://cenakin.cl",
  image: "https://cenakin.cl/images/logo_completo.jpg",
};
---

<Layout dataPag={seo}>
  <Container>
    <h1>Política de Cookies</h1>
    <h2>1. ¿Qué son las cookies?</h2>
    <p>
      Las cookies son pequeños archivos de texto que se almacenan en el
      dispositivo del usuario (ordenador, tableta, móvil) cuando visita ciertas
      páginas web. Las cookies permiten a una página web, entre otras cosas,
      almacenar y recuperar información sobre los hábitos de navegación del
      usuario o de su equipo y, dependiendo de la información que contengan y de
      la forma en que utilice su equipo, pueden utilizarse para reconocer al
      usuario.
    </p>
    <h2>2. Tipos de cookies que utilizamos</h2>
    <p>
      En el sitio web de OTEC Cenakin® SpA se utilizan los siguientes tipos de
      cookies: Cookies estrictamente necesarias: Estas cookies son esenciales
      para que el usuario pueda navegar por el sitio web y utilizar sus
      funciones. Sin estas cookies, no se pueden proporcionar los servicios que
      el usuario ha solicitado, como recordar su información de inicio de sesión
      o sus preferencias de idioma. Cookies de rendimiento: Estas cookies
      recopilan información sobre cómo los visitantes utilizan un sitio web, por
      ejemplo, a qué páginas acceden con mayor frecuencia y si reciben mensajes
      de error de las páginas web. Estas cookies no recopilan información que
      identifique a un visitante. Toda la información que recopilan estas
      cookies es agregada y, por lo tanto, anónima. Solo se utiliza para mejorar
      el funcionamiento de un sitio web. Cookies funcionales: Estas cookies
      permiten que el sitio web recuerde las elecciones que el usuario hace
      (como su nombre de usuario, idioma o la región en la que se encuentra) y
      ofrecen características mejoradas y más personales. Por ejemplo, un sitio
      web puede proporcionar informes meteorológicos locales o noticias de
      tráfico almacenando en una cookie la región en la que se encuentra
      actualmente. Estas cookies también pueden utilizarse para recordar los
      cambios que el usuario ha realizado en el tamaño del texto, las fuentes y
      otras partes de las páginas web que puede personalizar. También se pueden
      utilizar para proporcionar servicios que el usuario ha solicitado, como
      ver un vídeo o comentar en un blog. La información que recopilan estas
      cookies puede ser anonimizada y no pueden rastrear su actividad de
      navegación en otros sitios web. Cookies de publicidad: Estas cookies se
      utilizan para proporcionar anuncios más relevantes para el usuario y sus
      intereses. También se utilizan para limitar la cantidad de veces que el
      usuario ve un anuncio y para ayudar a medir la eficacia de las campañas
      publicitarias. Por lo general, son colocadas por redes publicitarias con
      el permiso del operador del sitio web. Recuerdan que el usuario ha
      visitado un sitio web y esta información se comparte con otras
      organizaciones, como los anunciantes. Muy a menudo, las cookies de
      publicidad estarán vinculadas a la funcionalidad del sitio proporcionada
      por la otra organización.
    </p>
    <h2>3. Gestión de cookies</h2>
    <p>
      El usuario puede permitir, bloquear o eliminar las cookies instaladas en
      su equipo mediante la configuración de las opciones del navegador
      instalado en su ordenador. A continuación, se indican los enlaces a las
      páginas de soporte de los navegadores más populares para que el usuario
      pueda configurar su navegador: Google Chrome: Enlace de soporte Mozilla
      Firefox: Enlace de soporte Internet Explorer: Enlace de soporte Safari:
      Enlace de soporte Es importante que el usuario tenga en cuenta que, si
      desactiva las cookies, algunas funcionalidades del sitio web podrían no
      estar disponibles.
    </p>
    <h2>4. Consentimiento</h2>
    <p>
      Al navegar y continuar en el sitio web de OTEC Cenakin® SpA, el usuario
      está consintiendo el uso de las cookies descritas en las condiciones
      expresadas en la presente Política de Cookies.
    </p>
    <h2>5. Cambios en la política de cookies</h2>
    <p>
      OTEC Cenakin® SpA puede modificar esta Política de Cookies en función de
      exigencias legislativas, reglamentarias, o con la finalidad de adaptar
      dicha política a las instrucciones dictadas por la Agencia Española de
      Protección de Datos, por lo que se aconseja a los usuarios que la visiten
      periódicamente.
    </p>
    <h2>6. Contacto</h2>
    <p>
      Si el usuario tiene alguna duda sobre la política de cookies, puede
      contactar a OTEC Cenakin® SpA en:
    </p>
    <p>
      Dirección: Calle Limache #1724 oficina 1102, edificio contemporáneo Viña
      del Mar.<br />
      Correo electrónico: cenakinchile@gmail.com Teléfono: +56 944871048
    </p>
  </Container>
</Layout>
