---
import Layout from "@layouts/Layout.astro";
import type { Seo } from "@interfaces/Seo";

const seo: Seo = {
  title: "Cenakin OTEC Cursos Viña del Mar, Chile",
  description:
    "Un nuevo método de enseñanza para distintos cursos, con materiales incluidos, docentes kinesiólogos y calidad de servicio Viña del Mar, Chile.",
  url: "https://cenakin.cl",
  image: "https://cenakin.cl/images/logo_completo.jpg",
  keywords: ["cursos", "salud", "masoterapia", "viña del mar", "chile", "otec"],
};
---

<Layout dataPag={seo}>
  <Container>
    <h1>Política de Privacidad</h1>
    <p>
      En OTEC Cenakin® SpA, nos comprometemos a proteger la privacidad de
      nuestros usuarios. Esta política de privacidad explica cómo recopilamos,
      utilizamos y protegemos su información personal cuando utiliza nuestro
      sitio web.
    </p>
    <h2>1. Información que recopilamos</h2>
    <p>
      Recopilamos la información proporcionada directamente de los usuarios y
      usuarias, como cuando se registra en nuestro sitio, cuando realiza una
      compra, se suscribe a nuestros boletines informativos, participa en
      encuestas o nos contacta con preguntas. Esta información puede incluir su
      nombre, dirección de correo electrónico, número de teléfono y otros datos
      de contacto.
    </p>
    <h2>2. Uso de la información</h2>
    <p>Utilizamos la información recopilada para:</p>
    <ul>
      <li>• Proveer, operar y mantener nuestros servicios</li>
      <li>• Mejorar, personalizar y expandir nuestro sitio web</li>
      <li>• Entender y analizar cómo utiliza nuestro sitio web</li>
      <li>
        • Desarrollar nuevos productos, servicios, características y
        funcionalidades
      </li>
      <li>
        • Comunicarnos con los usuarios y usuarias, ya sea directamente o a
        través de uno de nuestros socios estratégicos, incluyendo para servicio
        al cliente, para proporcionarle actualizaciones y otra información
        relacionada con el sitio web, y para fines de marketing y promoción
      </li>
      <li>• Procesar sus transacciones y gestionar sus solicitudes</li>
      <li>• Enviar correos electrónicos periódicos</li>
    </ul>
    <h2>3. Compartir información</h2>
    <p>
      No vendemos, comercializamos ni transferimos a terceros la información
      personal identificable. Esto no incluye a terceros de confianza que nos
      asisten en operar nuestro sitio web, llevar a cabo nuestro negocio o
      servirle a usted, siempre y cuando esas partes acuerden mantener esta
      información confidencial.
    </p>
    <h2>4. Seguridad de la información</h2>
    <p>
      Implementamos una variedad de medidas de seguridad para mantener la
      información personal. Sus datos personales se guardan en redes seguras y
      solo son accesibles por un número limitado de personas que tienen derechos
      especiales de acceso a dichos sistemas, y están obligadas a mantener la
      información confidencial.
    </p>
    <h2>5. Uso de cookies</h2>
    <p>
      Nuestro sitio web puede utilizar "cookies" para mejorar la experiencia del
      usuario. El navegador del usuario coloca cookies en su disco duro con
      fines de mantenimiento de registros y, a veces, para rastrear información
      sobre ellos. El usuario puede optar por configurar su navegador para
      rechazar las cookies, o para que le avise cuando se envíen cookies. Si lo
      hacen, tenga en cuenta que algunas partes del sitio pueden no funcionar
      correctamente.
    </p>
    <h2>6. Consentimiento</h2>
    <p>
      Al utilizar nuestro sitio web, usted acepta nuestra política de
      privacidad.
    </p>
    <h2>7. Cambios en nuestra política de privacidad</h2>
    <p>
      OTEC Cenakin® SpA se reserva el derecho de actualizar esta política de
      privacidad en cualquier momento. Se le recomienda revisar esta política de
      privacidad periódicamente para cualquier cambio.
    </p>
    <h2>8. Contacto</h2>
    <p>
      Si tiene alguna pregunta sobre esta política de privacidad, puede
      contactarnos utilizando la siguiente información:
    </p>

    OTEC Cenakin®<br /><br />
    SpA Dirección: Calle Limache #1724 oficina 1102, edificio contemporáneo Viña
    del Mar.<br />
    Correo electrónico: cenakinchile@gmail.com Teléfono: +56 944871048
  </Container>
</Layout>
