---
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import type { Seo } from "@interfaces/Seo";

const seo: Seo = {
  title: "Cenakin OTEC Cursos Viña del Mar, Chile",
  description:
    "Un nuevo método de enseñanza para distintos cursos, con materiales incluidos, docentes kinesiólogos y calidad de servicio Viña del Mar, Chile.",
  url: "https://cenakin.cl",
  image: "https://cenakin.cl/images/logo_completo.jpg",
};
---

<Layout dataPag={seo}>
  <Container>
    <h1>Términos y Condiciones</h1>
    <h2>Definiciones</h2>
    <p>
      O.T.E.C. Cenakin® S.p.A. opera y administra la plataforma
      online https//www.cenakin.cl, los sitios web, los servicios y herramientas
      que la integran. Te pedimos que leas atentamente estos términos y
      condiciones de uso, y que en caso de no estar de acuerdo o no aceptarlos,
      te abstengas de comprar un servicio de capacitación. Nuestros servicios no
      están disponible para menores de 18 años de edad. Si usted es menor de 18
      años y compra por medio del sitio web, O.T.E.C. Cenakin® S.p.A. cancelará
      dicha contratación. Descripción del sitio web: https//www.cenakin.cl es
      una plataforma online de conexión que cuenta con una serie de herramientas
      de interacción, con la finalidad de distribuir contenido de carácter
      informativo y comercial. Estos términos y condiciones del servicio
      constituyen un contrato entre usted, persona natural o empresa y que queda
      en su calidad de estudiante, con O.T.E.C. Cenakin® S.p.A. en todo lo
      referente al uso del sitio web y la contratación de los servicios que se
      prestan a través del mismo. Cuando usted realice la compra, usted reconoce
      y declara que ha leído y comprendido estos términos y condiciones y el
      manual de convivencia de O.T.E.C. Cenakin® S.p.A (accede en este link al
      documento Manual de Convivencia) obligándose a cumplir, sin reservas, las
      estipulaciones contenidas en ellos. En consecuencia, toda persona que
      realizará inscripción por el sitio web debe leer atentamente estos
      términos y condiciones, revisándolos periódicamente ante eventuales
      actualizaciones Servicios Los servicios ofrecidos a través del sitio web
      sólo podrán ser contratados, solamente por personas mayores de 18 años,
      sin excepciones, y licenciado o licenciada en cuarto medio. Para el caso
      de extranjeros deberá tener R.U.N. definitivo chileno o provisorio. Frente
      a cualquier circunstancia, imprevisto o caso fortuito, tanto del
      estudiante como de situaciones externas (sanitarias, ambientales, sociales
      y cualquier otra índole), el dinero pagado o la documentación realizada
      por la capacitación, no será devuelto en ningún caso. esto incluye toda
      situación personal, familiar u otra de cualquier índole del estudiante,
      sin excepciones, que ocurra durante el proceso de capacitación desde que
      firma el contrato de servicios. Entiendo que al firmar este contrato doy
      cuenta de que cualquier situación personal, familiar u otra de cualquier
      índole, sin excepciones, es ajena a la institución O.T.E.C. Cenakin®
      S.p.A. y que no compete a la realización de este servicio de
      capacitaciones para la exigencia de devolución del pago realizado o
      documentos. En caso de cualquier situación personal, familiar u otra de
      cualquier índole, en la cual el estudiante no pueda realizar la
      capacitación de este contrato, avisaré dentro de un plazo de 30 días
      máximo desde que inicia la capacitación, para seguir el conducto regular y
      las opciones de recuperación, suspensión u otras que O.T.E.C. Cenakin®
      S.p.A. facilite, justificando con los documentos pertinentes como
      certificados médicos o laborales solamente.
    </p>
    <p>
      Frente a una situación extraordinaria la cual el espacio o la plataforma
      virtual utilizada no se pudiese realizar el curso por cualquier motivo,
      O.T.E.C. Cenakin® S.p.A. se compromete a re-ubicar en algún espacio o
      plataforma con las condiciones necesarias para terminar el curso en las
      fechas programadas o recalendarizadas. Las clases están programadas por
      docentes especializados y sus contenidos distribuidos en módulos con
      temáticas específicas teóricas y/o prácticas. En ese aspecto el o la
      docente tiene la capacidad de elegir la metodología a realizar en sus
      clases y si evalúa que el contenido de la clase será visto será en menor
      tiempo, está facultado para realizarlo(a). El curso, capacitación, taller
      o diplomado contratado se aprobará con 100% de asistencia. las faltas a
      cualquier actividad académica se considerarán automáticamente con nota 2.0
      y solamente podrán recuperarlas con justificativos médicos o laborales, si
      él o la estudiante no justifica y no se comunica por alguna inasistencia
      reprobará automáticamente y no tendrá derecho a certificación ni
      devolución de pago alguno. Las inasistencias no justificadas a clases
      presenciales y/o virtuales por cualquier motivo sin excepciones, se
      considerarán ausentes, con el contenido visto en totalidad y sin exigencia
      de recuperación de clases. solamente podrán recuperarlas con justificativo
      laboral o médico, no existiendo otra alternativa y se organizarán según
      las condiciones y posibilidades de la institución. La inscripción a un
      curso o diplomado se considera única, personal e intransferible y no puede
      intercambiarse por ninguna otra y bajo ningún motivo, sin excepciones, ya
      sea a otras personas, nuevas promociones, becas, cambios de contenidos u
      otros.
    </p>
    <p>
      Independiente de la aceptación de los términos y condiciones el o la
      estudiante deberá firmar y enviar los siguientes puntos :
    </p>
    <ul>
      <li>a) Ficha de inscripción del estudiante.</li>
      <li>b) Certificado o certificados de estudios si se solicita.</li>
      <li>
        c) Contratación de servicios especificando: el horario de la
        capacitación, los contenidos, la asistencia y evaluaciones, el acceso a
        aula virtual, el reglamento interno, el pago de mensualidades en el caso
        correspondiente, la entrega de documentos y la prórroga de la
        capacitación en casos debidamente justificados.
      </li>
      <li>
        d) Acepto y recibí conforme el manual convivencias de la institución.
      </li>
    </ul>
    <h2>Condiciones de acceso y uso del sitio</h2>
    <p>
      Los estudiantes que deseen contratar los servicios de O.T.E.C. Cenakin®
      S.p.A. aceptan los términos y condiciones descritos en esta página y que
      incluyen la aceptación de nuestras políticas de privacidad. Los
      estudiantes se compromenten a que la información que proporcionen a
      O.T.E.C. Cenakin® S.p.A., ya sea en el proceso de registro o en cualquier
      otro momento que sea requerida, deberá ser verdadera, precisa, actualizada
      y completa, asumiendo la obligación de mantener dicha información
      actualizada en todo momento.
    </p>
    <p>
      Los estudiantes aceptan que todo contenido publicado por ellos en el sitio
      web podrá ser reproducido, distribuido, modificado, publicado, comunicado
      o utilizado por O.T.E.C. Cenakin® S.p.A. para cualquier propósito
      vinculado con los servicios, el marketing y la publicidad del sitio web
      y/o de los servicios, entre otros. Asimismo, O.T.E.C. Cenakin® S.p.A. se
      reserva el derecho, sin previo aviso, de suprimir o cancelar todo
      contenido publicado por los estudiantes que contravenga estos términos y
      condiciones.
    </p>
    <p>
      Además, acepto que toda fotografía o documento realizado en las clases
      podrá ser reproducido, distribuido, modificado, publicado, comunicado o
      utilizado por O.T.E.C. Cenakin® S.p.A. para cualquier propósito vinculado
      con los servicios, el marketing y la publicidad del sitio web y/o de los
      servicios, entre otros.
    </p>
    <p>
      El sitio web puede incluir enlaces o referencias a sitios de terceros.
      O.T.E.C. Cenakin® S.p.A. no se hace responsable del contenido de ningún
      sitio de referencia ni de la información, materiales, productos o
      servicios disponibles o accesibles a través de tales sitios. cuando un
      estudiante ingrese a cualquiera de estos sitios, quedará sujeto a los
      términos y condiciones de uso de los mismos. Conductas prohibidas en el
      sitio Los estudiantes se comprometen a utilizar el sitio web y los
      servicios de conformidad con la ley, la moral y buenas costumbres
      generalmente aceptadas, el orden público y con las disposiciones de estos
      términos y condiciones. A continuación se detallan, a modo ejemplar,
      algunas conductas prohibidas en el uso del sitio web:
    </p>
    <ul>
      <li>
        1.- Utilizar el sitio web con un propósito ilegal o vulneratorio de
        cualquier ley local, municipal, estatal, nacional o internacional,
        incluyendo, sin limitación, las leyes que rigen la propiedad intelectual
        y otros derechos de propiedad, derechos de imagen, protección de datos
        personales y privacidad.
      </li>
      <li>
        2.- Alquilar, arrendar, prestar, vender, revender, sub-licenciar,
        distribuir o transferir las licencias otorgadas por O.T.E.C. Cenakin®
        S.p.A. o cualquier otro material, contenido o información que integre el
        sitio web.
      </li>
      <li>
        3.- Subir, cargar o distribuir cualquier anuncio, material o contenido
        difamatorio, calumnioso, inexacto, ofensivo, indecente, pornográfico,
        amenazante, vulgar, discriminatorio, de odio racial, étnicamente
        ofensivo, o generalmente inapropiado.
      </li>
      <li>
        4.- Hacerse pasar por otra persona o entidad, afirmar falsamente
        afiliación con cualquier persona o entidad, acceder a las claves de
        acceso de otros estudiantes sin su permiso, falsificar la firma ológrafa
        o digital de otra persona, tergiversar el origen, identidad, o contenido
        de la información transmitida a través del sitio web, o realizar
        cualquier otra actividad engañosa o fraudulenta. si se verifica esta
        situación O.T.E.C. Cenakin® S.p.A. dará aviso a las autoridades
        pertinentes.
      </li>
      <li>
        5.- Realizar ofertas no solicitadas, anuncios, propuestas, o enviar spam
        a otros estudiantes del sitio web. esto incluye, sin estar limitado a:
        publicidad, material promocional, distribución de publicidad comercial,
        anuncios informativos, peticiones de caridad, peticiones de firmas, etc.
      </li>
      <li>
        6.- Suprimir, eludir, deshabilitar o interferir con funciones
        relacionadas con la seguridad del sitio web, que impidan, dificulten o
        limiten el uso de cualquier contenido accesible a través del sitio web
        por parte de otros estudiantes o que impongan limitaciones en el uso del
        sitio web.
      </li>
      <li>
        7.- Eliminar los anuncios, materiales, información o contenidos del
        sitio web.
      </li>
      <li>
        8.- Utilizar ingeniería inversa, inteligencia artificial, descompilar,
        desmontar o tratar de descubrir el código fuente del sitio web o
        cualquiera de sus partes, excepto y únicamente en la medida en que dicha
        actividad esté expresamente permitida por la ley aplicable, a pesar de
        esta limitación.
      </li>
      <li>
        9.- Interferir intencionalmente con el funcionamiento del sitio web o
        con el uso por cualquier estudiantes de los servicios, por cualquier
        medio.
      </li>
      <li>
        10.- Mantener un trato irrespetuoso con los demás estudiantes,
        administrativos, personal y toda persona que pertenezca a la comunidad
        O.T.E.C. Cenakin® S.p.A.
      </li>
      <li>
        11.- Publicar, en cualquier sección del sitio web, comentarios que
        incluyan información personal de otro estudiante.
      </li>
      <li>
        12.- El uso de nombres, direcciones y números de teléfonos falsos con el
        propósito de engañar a otros estudiantes. Los estudiantes declaran y
        reconocen que las conductas anteriormente descritas suponen una grave
        violación de estos términos y condiciones, reservándose O.T.E.C.
        Cenakin® S.p.A. el derecho de suspender o cancelar la cuenta del
        estudiante infractor y de iniciar contra quien las lleve a cabo las
        acciones legales correspondientes.
      </li>
    </ul>
    <h2>Infracciones a los términos y condiciones</h2>
    <p>
      O.T.E.C. Cenakin® S.p.A. se reserva el derecho de suspender o cancelar la
      inscripción de aquellos estudiantes que incumplan estos términos y
      condiciones, sin que ello implique derecho a indemnización alguna por
      parte del estudiante infractor.
    </p>
    <h2>Propiedad Intelectual</h2>
    <p>
      El sitio web es propiedad de O.T.E.C. Cenakin® S.p.A.y es operado por
      ésta. Las interfaces visuales, gráficos, textos, logos, diseño,
      compilación, información, base de datos, código informático (incluido el
      código fuente o del código objeto), los productos, videos educativos,
      contenidos, software, servicios y todos los demás elementos de este sitio
      web proporcionados por O.T.E.C. Cenakin® S.p.A. están protegidos por
      derecho de autor, patentes o marcas comerciales, según corresponda, lo que
      los estudiantes declaran comprender y aceptar. Todas las marcas
      registradas y nombres comerciales son propiedad de O.T.E.C. Cenakin®
      S.p.A., de sus filiales y / o de terceros licenciantes.
    </p>
    <p>
      Con excepción de lo expresamente autorizado por O.T.E.C. Cenakin® S.p.A.,
      los estudiantes se comprometen a no vender, licenciar, sub-licenciar,
      distribuir, copiar, reproducir, publicar, transmitir, editar, adaptar,
      crear trabajos derivados de, o hacer uso no autorizado de los contenidos
      disponibles en el sitio web. en el caso de verificar algunas de estas
      conductas O.T.E.C. Cenakin® S.p.A. podrá proceder con las autoridades
      legales competentes.
    </p>
    <h2>Vigencia de los cursos y contenidos</h2>
    <p>
      O.T.E.C. Cenakin® S.p.A. se reserva el derecho a establecer la vigencia
      de cada uno de los contenidos y cursos que ofrece tanto presenciales como
      virtuales. O.T.E.C. Cenakin® S.p.A. garantiza el completo acceso a los
      cursos que los estudiantes hayan adquirido hasta el periodo de culminación
      del mismo, el cual está indicado en la descripción de cada curso. En caso
      de que por alguna razón O.T.E.C. Cenakin® S.p.A. se vea obligado a
      retirar un curso que haya sido adquirido por un estudiante, no existe
      devolución de su dinero, sin excepciones, sino traslado a otra plataforma
      sin perjuicio de su avance u otra característica.
    </p>
    <h2>Formas y condiciones de pago</h2>
    <p>
      Para acceder a los servicios, los estudiantes deberán adquirir al menos
      uno de los cursos que se ofrecen en la página “catálogo de cursos” del
      sitio web. El precio de cada curso está indicado en el “catálogo de
      cursos”. El sitio web tiene ofrece como forma de pago tarjetas de crédito
      o débito emitidas en chile operadas por transbank, mercado pago o
      cualquier pasarela de pago. el pago se realiza directamente en la
      plataforma O.T.E.C. Cenakin® S.p.A. a través de las diferentes pasarelas
      de pago según corresponda. También se pueden realizar pago a través de
      transferencia bancaria, directamente a la cuenta bancaria de O.T.E.C.
      Cenakin® S.p.A. las indicaciones necesarias para realizar el pago por
      trasferencia electrónica están descritas por nuestros canales de
      comunicación. Al usar medios de pago administrados por terceros, como la
      tarjeta de crédito o débito de bancos que operan con transbank, mercado
      pago o cualquier pasarela de pago, usted puede estar sujeto a términos y
      condiciones propios de esos terceros, por lo que será su exclusiva
      responsabilidad informarse sobre los mismos. Para el caso del uso de
      tarjeta de crédito O.T.E.C. Cenakin® S.p.A. tiene una política interna de
      un máximo de 12 cuotas precio contado. si la persona realiza un pago de 13
      cuotas o más, independiente que la pasarela de pago ofrezca más opciones,
      O.T.E.C. Cenakin® S.p.A. anulará la compra, avisará al titular de la
      tarjeta para su conocimiento y explicará la política interna de la empresa
      respecto a este punto.
    </p>
    <h2>Información</h2>
    <p>
      Si por alguna razón usted necesita contactarse con nuestras institución,
      por favor contáctenos a través del siguiente correo: dae.cenakin@gmail.com
    </p>
    <h2>Responsabilidad</h2>
    <p>
      O.T.E.C. Cenakin® S.p.A. no se hace responsable de daños derivados o
      relacionados con la falta de veracidad, exactitud o actualidad de la
      información declarada por los estudiantes. Aun cuando O.T.E.C. Cenakin®
      S.p.A. realizara constantemente sus mejores esfuerzos para mantener altos
      estándares de seguridad en su plataforma, éste no controla ni garantiza la
      ausencia de virus ni de otros elementos potencialmente nocivos en los
      contenidos que los estudiantes comparten en el sitio web y que puedan
      producir alteraciones en su sistema informático (software y hardware) o en
      los documentos electrónicos y ficheros almacenados en su sistema
      informático. En consecuencia, O.T.E.C. Cenakin® S.p.A. no será
      responsable por los perjuicios que emanen de lo anterior. O.T.E.C.
      Cenakin® S.p.A. no garantiza la privacidad y seguridad en la utilización
      del sitio web y de los servicios y, en particular, no garantiza que
      terceros no autorizados no tomen conocimiento de las condiciones,
      características y circunstancias del uso que los estudiantes hacen del
      sitio web y de los servicios, así, O.T.E.C. Cenakin® S.p.A. se no se hace
      responsable por daños de esta naturaleza. O.T.E.C. Cenakin® S.p.A. no se
      hace responsable por los daños de cualquier naturaleza que se generen por
      acciones de terceros que realicen transmisión, difusión, almacenamiento o
      recepción de los contenidos ofrecidos en el sitio web, incluyendo, pero no
      limitado a actos que se relacionen con:
    </p>
    <ul>
      <li>a) Infracciones a la ley, a la moral o a las buenas costumbres.</li>
      <li>
        b) La infracción de los derechos de propiedad intelectual e industrial
        de terceros.
      </li>
      <li>
        c) La realización de actos de competencia desleal y publicidad ilícita.
      </li>
      <li>
        d) La falta de veracidad, exactitud, pertinencia y/o actualidad de los
        contenidos.
      </li>
      <li>
        e) El incumplimiento, retraso en el cumplimiento o cumplimiento
        incompleto en los contratos contraídos con terceros.
      </li>
      <li>
        f) Los vicios y defectos de toda clase de contenidos a los que se haya
        accedido a través del sitio web.
      </li>
    </ul>
    <p>
      El sitio web pone a disposición de los estudiantes dispositivos técnicos
      de enlace (tales como links, banners, botones, entre otros), directorios y
      herramientas de búsqueda que permiten a los estudiantes acceder a sitios
      de referencia pertenecientes a y gestionados por terceros. La instalación
      de estos enlaces en el sitio web tiene por único objeto facilitar la
      búsqueda de y acceso a la información, contenidos y servicios disponibles
      en internet. O.T.E.C. Cenakin® S.p.A. no ofrece ni comercializa por sí,
      ni por medio de terceros, la información, contenidos y servicios
      disponibles en estos sitios de referencia. El o la estudiante acepta
      indemnizar y mantener indemne a O.T.E.C. Cenakin® S.p.A., a sus filiales,
      contratistas, empleados, agentes y proveedores, licenciatarios y socios de
      todo reclamo, daño o responsabilidad, incluyendo honorarios legales y
      gastos, derivados de cualquier violación por el estudiante de los términos
      y condiciones o cualquier incumplimiento de las representaciones,
      garantías y convenios realizados. Cualquier sospecha de actividad
      fraudulenta, abusiva o ilegal podrá ser denunciada a las autoridades
      correspondientes sin perjuicio de las acciones legales que asistan a
      O.T.E.C. Cenakin® S.p.A. en cada caso. Misceláneos Términos generales.
      sin perjuicio de lo establecido en estos términos y condiciones, los
      estudiante deberán cumplir con las siguientes normas y políticas para el
      uso del sitio web:
    </p>
    <ul>
      <li>
        a) Información personal. O.T.E.C. Cenakin® S.p.A. es el único
        autorizado para solicitar información y datos personales a los
        estudiantes. la entrega de información personal (adicional a la
        estrictamente necesaria para el normal desarrollo de los servicios) por
        parte de los estudiantes a los docentes constituye una conducta
        prohibida en el uso del sitio web, por lo que en caso de realizarse,
        será bajo su exclusiva responsabilidad.
      </li>
      <li>
        b) Contenido prohibido. los estudiantes se obligan a no emplear, en el
        uso del sitio web, palabras o expresiones injuriosas, ofensivas,
        indecentes, pornográficas, amenazantes, vulgares, que inciten al odio
        racial o discriminación, y en general que sean contrarios a la moral y
        buenas costumbres.
      </li>
      <li>
        c) No solicitación. los estudiantes reconocen y declaran que han sido
        puestos en contacto a través del sitio web, por lo que se obligan a no
        ponerse en contacto unos con otros fuera del ambiente del sitio web. el
        contacto entre estudiantes y profesores fuera del sitio web será
        considerado un incumplimiento grave a estos términos y condiciones.
      </li>
      <li>
        d) No garantía. el o la estudiante reconoce y acepta que O.T.E.C.
        Cenakin® S.p.A. no garantiza la la aprobación de ningún examen o tarea
        que con posterioridad a clases presenciales o en línea, rinda el
        estudiante.
      </li>
      <li>
        e) Suspensión o restricción. O.T.E.C. Cenakin® S.p.A. se reserva el
        derecho de suspender y/o restringir el acceso al sitio web de
        estudiantes que no cumplan con estos términos y condiciones, sin que
        ello genere para los estudiantes infractores derecho alguno al reembolso
        de los planes contratados.
      </li>
      <li>
        f) Certificados. O.T.E.C. Cenakin® S.p.A. ofrece en algunos de sus
        cursos, certificados de culminación satisfactoria. Este certificado
        representa que el estudiante cumplió con los requerimientos que el
        profesor y/o la institución patrocinante del profesor determinó para la
        aprobación del curso.
      </li>
      <li>
        g) Derecho a retracto. De acuerdo con la legislación vigente, los
        estudiantes tendrán derecho a retractarse del servicio contratado dentro
        de los 10 días hábiles siguientes al pago, sin importar el método de
        pago utilizado. Esta opción de retracto estará disponible hasta el
        inicio de la capacitación, independientemente de si este se produce
        antes de que se completen los 10 días mencionados. El derecho de
        retracto aplica a todos los formatos de capacitación, ya sean
        presenciales, en línea, híbridos, u otros formatos que se puedan
        presentar. Una vez iniciada la capacitación, en cualquiera de sus
        modalidades y aunque esté dentro del plazo de 10 días, no se podrá
        ejercer el derecho de retracto bajo ninguna circunstancia.
      </li>
      <li>
        h) No renuncia. el no ejercicio por parte de O.T.E.C. Cenakin® S.p.A.
        de cualquier derecho o disposición de estos términos y condiciones, no
        constituirá ni deberá interpretarse como una renuncia a tal derecho o
        disposición. Cualquier renuncia a las disposiciones de los términos y
        condiciones sólo será efectiva si consta por escrito y con la firma de
        O.T.E.C. Cenakin® S.p.A.
      </li>
      <li>
        i) Divisibilidad. si alguna cláusula de estos términos y condiciones es
        considerada ilegal, nula o inaplicable por cualquier razón, dicha
        disposición será limitada o eliminada de los términos y condiciones en
        la medida mínima necesaria y no afectará la validez y aplicabilidad de
        las restantes disposiciones.
      </li>
      <li>
        j) Cesión. los términos, condiciones, derechos y licencias otorgados a
        favor de los estudiantes, no podrán ser transferidos o cedidos por
        ellos, pero podrán ser cedidos por O.T.E.C. Cenakin® S.p.A. sin
        restricción alguna. Cualquier intento de cesión que se hiciera en
        violación a los términos y condiciones será nulo.
      </li>
      <li>
        k) Ley aplicable y jurisdicción. Los términos y condiciones se rigen por
        las leyes de la república de chile. Todo conflicto se someterá a la
        jurisdicción de los tribunales de Viña del mar.
      </li>
      <li>
        l) El o la estudiante no puede exigir datos de contactos personales como
        redes sociales, teléfonos, correos electrónicos y cualquier otro con los
        profesores o profesoras, personal administrativo, otros estudiantes o
        cualquier integrante de O.T.E.C. Cenakin® S.p.A. y su áreas.
      </li>
    </ul>
    <p>
      O.T.E.C. Cenakin® S.p.A.<br /><br />
      Si el usuario tiene alguna duda sobre los términos y condiciones, puede contactar
      a OTEC Cenakin® SpA en:<br />
      Dirección: Calle Limache #1724 oficina 1102, edificio contemporáneo Viña del
      Mar.<br />
      Correo electrónico: cenakinchile@gmail.com Teléfono: +56 944871048
    </p>
  </Container>
</Layout>
