---
import { FileBadge, ShieldCheck } from "lucide-astro";

interface Props {
  slug: string;
  title: string;
}

const { slug, title } = Astro.props;
---

<li
  class="rounded-md shadow-md hover:shadow-lg transition-shadow duration-300 col-span-1"
>
  <a href={`/cursos/${slug}`} class="list-row p-0 rounded-md">
    <div>
      <img
        class="h-full w-32 object-cover lg:h-32 rounded-bl-md rounded-tl-md"
        src={`https://cenakin.cl/images/cursos/${slug}/mini.webp`}
        alt={title}
      />
    </div>
    <div class="py-1">
      <div class="lg:text-xl leading-tight font-bold title line-clamp-2">
        {title}
      </div>
      <div class="flex flex-col gap-1 mt-2">
        <div class="flex items-center badge text-xs">
          <FileBadge
            color="oklch(58% 0.158 241.966)"
            size="14"
            class="mr-0"
          />Curso Certificado
        </div>
        <div class="flex items-center badge text-xs">
          <ShieldCheck
            color="oklch(58% 0.158 241.966)"
            size="14"
            class="mr-0"
          />Docentes Profesionales
        </div>
      </div>
    </div>
  </a>
</li>

<style>
  .title {
    font-family: "Roboto", sans-serif;
  }
</style>
