<div class="card rounded-md bg-base-100 shadow-lg p-4" id="datos-contacto">
  <div class="card-body">
    <div class="grid grid-cols-12 gap-2">
      <div class="col-span-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="oklch(58% 0.158 241.966)"
          class="bi bi-geo-alt mt-1"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"
          ></path>
          <path
            d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
          ></path>
        </svg>
      </div>
      <div class="col-span-11">
        Calle Limache 1724, oficina 1102 ed. Contemporáneo, Viña del Mar
      </div>
    </div>
    <div class="grid grid-cols-12 gap-2">
      <div class="col-span-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="oklch(58% 0.158 241.966)"
          class="bi bi-calendar-check mt-1"
          viewBox="0 0 16 16"
        >
          <path
            d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"
          ></path>
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
          ></path>
        </svg>
      </div>
      <div class="col-span-11">
        Lunes a Viernes de 9:30 a 13:00 y 15:00 a 18:00 hrs. Sábados de 10:00 a
        13:00 hrs.
      </div>
    </div>
    <div class="grid grid-cols-12 gap-2">
      <div class="col-span-1flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="oklch(58% 0.158 241.966)"
          class="bi bi-telephone mt-1"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
          ></path>
        </svg>
      </div>
      <div class="col-span-11">Teléfono: +56 9 4487 1048</div>
    </div>
    <div class="grid grid-cols-12 gap-2">
      <div class="col-span-1 flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="oklch(58% 0.158 241.966)"
          class="bi bi-envelope"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"
          ></path>
        </svg>
      </div>
      <div class="col-span-11">Email: contacto@cenakin.cl</div>
    </div>
    <div class="flex justify-center gap-6 py-6">
      <div>
        <a href="https://www.facebook.com/cenakinchile" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="oklch(58% 0.158 241.966)"
            viewBox="0 0 48 48"
            id="Facebook-1--Streamline-Core-Remix"
            height="48"
            width="48"
          >
            <g
              id="Free Remix/Computer Devices/facebook-1--media-facebook-social"
            >
              <path
                id="Union"
                fill-rule="evenodd"
                d="M5.947988571428572 5.947988571428572C6.18912 5.706891428571428 6.516137142857142 5.571428571428571 6.857142857142857 5.571428571428571h34.285714285714285c0.34114285714285714 0 0.6678857142857143 0.13546285714285713 0.9092571428571428 0.37655999999999995 0.24102857142857143 0.24113142857142858 0.3764571428571428 0.5681485714285713 0.3764571428571428 0.9091542857142857v34.285714285714285c0 0.34114285714285714 -0.13542857142857143 0.6678857142857143 -0.3764571428571428 0.9092571428571428 -0.24137142857142857 0.24102857142857143 -0.5681142857142857 0.3764571428571428 -0.9092571428571428 0.3764571428571428H30.857142857142854V30.89142857142857h3.291428571428571c0.5547428571428571 0 1.0865142857142858 -0.22035428571428567 1.4787428571428571 -0.6125485714285714 0.3922285714285714 -0.3922285714285714 0.6126857142857143 -0.9242057142857143 0.6126857142857143 -1.47888v-2.64c0 -0.27466285714285715 -0.05417142857142857 -0.5466171428571428 -0.15908571428571427 -0.8003657142857142 -0.10525714285714285 -0.25374857142857143 -0.2592 -0.4842857142857142 -0.4536 -0.67848 -0.19405714285714284 -0.19422857142857142 -0.42479999999999996 -0.3482742857142857 -0.6785142857142856 -0.4533942857142857 -0.25371428571428567 -0.10508571428571428 -0.5256 -0.15918857142857143 -0.8002285714285714 -0.15918857142857143h-3.1542857142857144v-2.365714285714285c0 -2.88 1.3028571428571427 -2.88 2.6057142857142854 -2.88h2.537142857142857c0.27599999999999997 0.011382857142857142 0.5509714285714286 -0.038022857142857136 0.8057142857142856 -0.14465142857142857 0.25474285714285716 -0.10662857142857142 0.48308571428571423 -0.2679428571428571 0.6685714285714286 -0.4724914285714285 0.1992 -0.1896685714285714 0.3569142857142857 -0.4186628571428571 0.46319999999999995 -0.6724114285714285 0.10628571428571428 -0.25374857142857143 0.15874285714285713 -0.5268 0.15394285714285713 -0.8018742857142857v-2.537142857142857c0.009257142857142858 -0.2791885714285714 -0.03668571428571428 -0.5574514285714286 -0.13542857142857143 -0.8188457142857142 -0.09839999999999999 -0.2614285714285714 -0.24719999999999998 -0.50088 -0.43851428571428575 -0.7046742857142857 -0.19097142857142857 -0.20375999999999997 -0.42034285714285713 -0.36791999999999997 -0.6747428571428571 -0.48301714285714287S36.450514285714284 12.008845714285714 36.17142857142857 12c-0.3730285714285714 0 -0.756 -0.004045714285714285 -1.1454857142857142 -0.008125714285714286 -3.4269942857142857 -0.03610285714285714 -7.372148571428571 -0.07765714285714286 -9.809382857142856 2.573725714285714 -2.1591085714285714 2.3488457142857144 -2.1079199999999996 5.213965714285714 -2.0556 8.143062857142857 0.00809142857142857 0.4523314285714285 0.01618285714285714 0.9062057142857142 0.01618285714285714 1.3599085714285712h-3.051428571428571c-0.2775085714285714 -0.00456 -0.5531657142857143 0.04618285714285714 -0.8108914285714285 0.1492457142857143 -0.2577257142857143 0.10306285714285714 -0.49234285714285714 0.2563885714285714 -0.6901714285714285 0.45106285714285715 -0.19786285714285712 0.1946742857142857 -0.35499428571428565 0.4267542857142857 -0.46224 0.6827657142857143 -0.10724571428571429 0.25601142857142856 -0.16244571428571428 0.5308114285714286 -0.16241142857142857 0.8083542857142857v2.64c-0.00003428571428571428 0.27757714285714286 0.05516571428571428 0.5523428571428571 0.16241142857142857 0.8083542857142857 0.10724571428571429 0.25601142857142856 0.2643771428571428 0.4880914285714285 0.46224 0.6827657142857143 0.1978285714285714 0.1946742857142857 0.4324457142857142 0.34800000000000003 0.6901714285714285 0.45106285714285715 0.2577257142857143 0.10306285714285714 0.5333828571428572 0.15380571428571427 0.8108914285714285 0.1492457142857143h3.051428571428571v11.537142857142857H6.857142857142857c-0.3410057142857143 0 -0.6680228571428571 -0.13542857142857143 -0.9091542857142857 -0.3764571428571428 -0.24109714285714282 -0.24137142857142857 -0.37655999999999995 -0.5681142857142857 -0.37655999999999995 -0.9092571428571428V6.857142857142857c0 -0.3410057142857143 0.13546285714285713 -0.6680228571428571 0.37655999999999995 -0.9091542857142857ZM6.857142857142857 1.2857142857142856c-1.477645714285714 0 -2.894742857142857 0.5869885714285714 -3.939596571428571 1.631832C1.8727028571428572 3.9623999999999997 1.2857142857142856 5.379497142857143 1.2857142857142856 6.857142857142857v34.285714285714285c0 1.4777142857142855 0.5869885714285714 2.894742857142857 1.631832 3.9394285714285715 1.0448537142857142 1.0450285714285714 2.461950857142857 1.632 3.939596571428571 1.632h34.285714285714285c1.4777142857142855 0 2.894742857142857 -0.5869714285714285 3.9394285714285715 -1.632 1.0450285714285714 -1.0446857142857142 1.632 -2.4617142857142853 1.632 -3.9394285714285715V6.857142857142857c0 -1.477645714285714 -0.5869714285714285 -2.894742857142857 -1.632 -3.939596571428571C44.0376 1.8727028571428572 42.620571428571424 1.2857142857142856 41.14285714285714 1.2857142857142856H6.857142857142857Z"
                clip-rule="evenodd"
                stroke-width="3.4286"></path>
            </g>
          </svg>
        </a>
      </div>
      <div>
        <a href="https://www.instagram.com/cenakinchile/" target="_blank"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            fill="oklch(58% 0.158 241.966)"
            class="bi bi-instagram"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"
            ></path>
          </svg></a
        >
      </div>
      <div>
        <a
          href="https://wa.me/56944871048?text=Hola%20me%20gustaría%20contactarme"
          target="_blank"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            fill="oklch(58% 0.158 241.966)"
            class="bi bi-whatsapp"
            viewBox="0 0 16 16"
          >
            <path
              d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"
            ></path>
          </svg></a
        >
      </div>
    </div>
    <div role="alert" class="alert bg-sky-600">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="h-10 w-10 shrink-0 stroke-white"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
      <span class="text-white"
        >Para una mejor comunicación, prefiera contactarse a través de nuestro
        whatsapp o llamandonos.</span
      >
    </div>
  </div>
</div>

<style>
  #datos-contacto {
    height: auto;
  }

  @media (width > 1400) {
    #datos-contacto {
      height: 448px;
    }
  }
</style>
