---
import Container from "@layouts/Container.astro";
---

<Container>
  <div
    class="flex flex-col md:flex-row gap-8 md:gap-32 items-center md:justify-center py-16"
  >
    <div>
      <img
        src="/images/banner3_ng.svg"
        alt="Logo Cenakin 3 años acreditado"
        class="md:w-96"
      />
    </div>
    <div><img src="/images/nch.webp" alt="NCH" /></div>
    <div><img src="/images/wmf.webp" alt="WMF" class="w-48" /></div>
  </div>
</Container>
