---
import { cursos } from "@lib/cursos";

const { clases } = Astro.props;
---

<form method="dialog">
  <button class="top-2 right-2 absolute btn btn-sm btn-circle btn-ghost"
    >✕</button
  >
</form>
<dialog id="my_modal_1" class={`${clases} modal`}>
  <div class="rounded-md w-full max-w-xl modal-box">
    <form method="dialog">
      <button
        class="top-2 right-2 absolute font-bold text-2xl btn btn-sm btn-circle btn-ghost"
        >✕</button
      >
    </form>
    <div class="grid grid-cols-1 lg:grid-cols-3 card">
      <figure class="col-span-1">
        <img src="/images/logo.png" alt="Logo Cenakin" class="h-48" />
      </figure>
      <div class="col-span-1 lg:col-span-2 card-body">
        <h2 class="card-title">SUSCRÍBASE AHORA</h2>
        <p>
          Suscríbete y recibe información de formación o cursos de intéres,
          próximas capacitaciones y ofertas.
        </p>
        <div class="justify-end">
          <form class="gap-2 grid grid-cols-1" id="formSuscription">
            <input
              type="text"
              id="name"
              placeholder="Ingresa tu nombre"
              class="col-span-1 rounded-md w-full input"
              required
            />
            <input
              type="email"
              id="email"
              placeholder="Ingresa tu correo"
              class="col-span-1 rounded-md w-full input"
              required
            />
            <input
              type="text"
              placeholder="Ingrese su teléfono"
              name="telefono"
              id="telefono"
              class="col-span-1 rounded-md w-full input"
              required
            />
            <select name="curso" id="curso" class="w-full select">
              <option value="">Curso de Interés</option>
              {
                cursos.map((curso) => (
                  <option value={curso.name}>{curso.name}</option>
                ))
              }
            </select>
            <button
              id="submit"
              class="col-span-1 bg-celeste rounded-md text-white uppercase btn"
              >Suscribirse</button
            >
            <div
              role="alert"
              id="success"
              class="hidden alert alert-success alert-soft"
            >
              <span>Suscipción confirmada!</span>
            </div>
            <div
              role="alert"
              id="error"
              class="hidden alert alert-error alert-soft"
            >
              <span>Debe ingresar todos los datos correctamente.</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</dialog>

<script is:inline>
  const form = document.getElementById("formSuscription");
  const success = document.getElementById("success");
  const error = document.getElementById("error");
  const submit = document.getElementById("submit");
  const nameInput = document.getElementById("name");
  const emailInput = document.getElementById("email");
  const cursoInput = document.getElementById("curso");
  const phoneInput = document.getElementById("telefono");
  const modal = document.getElementById("my_modal_1");

  setTimeout(() => {
    modal.showModal();
  }, 2000);

  submit.addEventListener("click", async (e) => {
    e.preventDefault();

    if (
      !nameInput.value ||
      !emailInput.value ||
      !phoneInput.value ||
      !cursoInput.value
    ) {
      success.classList.add("hidden");
      error.classList.remove("hidden");
      return;
    }

    try {
      const response = await fetch("https://cenakin.cl/otec/correo.php", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          nombre: nameInput.value.trim(),
          correo: emailInput.value.trim(),
          telefono: phoneInput.value.trim(),
          curso: cursoInput.value.trim(),
        }),
      });

      const result = await response.json();

      if (response.ok && result.error === false) {
        success.classList.remove("hidden");
        error.classList.add("hidden");
        form.reset();

        setTimeout(() => {
          modal.close();
        }, 2000);
      } else {
        throw new Error(result.message || "Error");
      }
    } catch (err) {
      console.error(err);
      success.classList.add("hidden");
      error.classList.remove("hidden");
    }
  });
</script>

<style>
  #my_modal_1 {
    option {
      width: 10px;
    }
  }
</style>
