@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    emerald;
}

:root {
  --celeste: #0098ff;
}

.bg-celeste {
  background-color: var(--celeste);
  color: white;
}

.text-celeste {
  color: var(--celeste);
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
