@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    emerald;
}

:root {
  --celeste: #0098ff;
}

.bg-celeste {
  background-color: var(--celeste);
  color: white;
}

.text-celeste {
  color: var(--celeste);
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

h1 {
  font-size: 2.8rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
