---
const { titulo } = Astro.props;
---

<div class="hero bg-sky-600 h-24 rounded-md my-4">
  <div class="hero-content text-center">
    <div class="max-w-2xl">
      <h1 class="text-5xl font-bold text-white">{titulo}</h1>
    </div>
  </div>
</div>
