---
import { cursos } from "@lib/cursos";
---

<div id="segmento-buscar" class="lg:ml-4">
  <div>
    <div>
      <div class="z-2 w-full">
        <ul
          id="buscadorMobile"
          class="hidden z-2 absolute gap-1 grid-cols-1 shadow-xl mt-10 mb-2 py-2 rounded-md w-96 list"
        >
        </ul>
      </div>
    </div>
    <div>
      <label class="z-3 rounded-md w-full lg:w-96 input">
        <svg
          class="opacity-50 h-[1em]"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input
          type="text"
          id="buscarMobile"
          name="buscarMobile"
          autocomplete="off"
        />
      </label>
    </div>
  </div>
</div>

<script define:vars={{ cursos }}>
  const buscarMov = document.getElementById("buscarMobile");
  const buscadorMov = document.getElementById("buscadorMobile");

  buscarMov.addEventListener("input", () => {
    const valor = buscarMov.value.toLowerCase();
    buscadorMov.style.display = "grid";
    buscadorMov.innerHTML = "";
    if (valor === "") {
      buscadorMov.style.display = "none";
      return;
    }
    const filtradoMov = cursos.filter((curso) =>
      curso.name.toLowerCase().includes(valor),
    );
    if (filtradoMov.length > 0) buscadorMov.style.backgroundColor = "#f5f5f5";
    else buscadorMov.style.backgroundColor = "transparent";
    filtradoMov.forEach((curso) => {
      const li = document.createElement("li");
      li.innerHTML = `<a href="/cursos/${curso.slug}" class="bg-white mx-1 p-0 rounded-md list-row"><div><img class="rounded-tl-md rounded-bl-md h-16" src="https://cenakin.cl/images/cursos/${curso.slug}/mini.webp" alt="${curso.name}" /></div><div class="py-2 pr-2 leading-4">${curso.name}</div></a>`;
      buscadorMov.appendChild(li);
      li.addEventListener("click", () => {
        buscadorMov.style.display = "none";
        buscadorMov.innerHTML = "";
      });
    });
  });

  buscar.addEventListener("click", () => (buscador.style.display = "grid"));

  document.addEventListener("click", (e) => {
    if (!buscador.contains(e.target) && e.target !== buscadorMov) {
      buscadorMov.style.display = "none";
    } else {
      buscadorMov.style.display = "grid";
    }
  });
</script>

<style>
  #segmento-buscar {
    width: 100%;
    display: block;
    & svg {
      height: 1em;
    }
  }

  #buscador {
    max-height: 400px;
    overflow-y: auto;
    list-style: none;
    & li {
      cursor: pointer;
      padding: 8px;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  .texto-truncado {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
</style>
