---
import Container from "@layouts/Container.astro";
import { menu } from "@lib/menu.ts";
---

<div>
  <div class="navbar fixed w-full top-0 z-10 bg-base-100 shadow-md">
    <Container className="flex">
      <div class="navbar-start">
        <a href="/" class="text-xl">
          <img src="/images/banner_ng.svg" alt="Logo Cenakin" class="w-30" />
        </a>
      </div>
      <div class="navbar-end">
        <ul class="hidden md:flex md:gap-2 md:mr-2">
          {
            menu.map((item) => (
              <li>
                <a
                  href={item.href}
                  class="btn btn-ghost rounded-md uppercase hover:bg-sky-600 hover:text-white transition-colors"
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
        <a
          href="https://aulavirtualcenakin.com"
          class="border-none btn btn-primary rounded-md uppercase bg-sky-600 text-white hover:bg-sky-800 hover:text-white transition-colors"
          >Aula Virtual</a
        >
      </div>
    </Container>
  </div>
</div>
