---
interface Props {
  docentes?: string;
}

const { docentes } = Astro.props;
---

<div>
  {
    docentes && (
      <div class="bg-base-100 shadow-md rounded-md card">
        <div class="max-w-full card-body">
          <h3 class="mb-1 font-bold text-sky-600 text-4xl">Docentes</h3>
          {docentes.map((docente) => {
            return <div class="p-2 prose" set:html={docente} />;
          })}
        </div>
      </div>
    )
  }
</div>
