---
interface Props {
  docentes: string[];
  f_inicio?: string;
  f_termino?: string;
  formato: string;
}
const { docentes, f_inicio, f_termino, formato } = Astro.props;
---

<div class="flex flex-col gap-4" id="fedocu">
  <div class="bg-base-100 shadow-md rounded-md card">
    <div class="flex gap-4 max-w-full card-body prose">
      <h3 class="mb-1 font-bold text-sky-600 text-4xl">Fechas y Horarios</h3>
      <div set:html={formato} />
      <div class="flex gap-2 mt-4">
        {
          f_inicio && (
            <p class="bg-sky-600 p-2 rounded-md text-white uppercase">
              Fecha Inicio: <span class="font-bold">{f_inicio}</span>
            </p>
          )
        }
        {
          f_termino && (
            <p class="bg-sky-600 p-2 rounded-md text-white uppercase">
              Fecha Termino: <span class="font-bold">{f_termino}</span>
            </p>
          )
        }
      </div>
    </div>
  </div>

  <div class="bg-base-100 shadow-md rounded-md card">
    <div class="max-w-full card-body prose">
      <h3 class="mb-1 font-bold text-sky-600 text-4xl">Reserva de Cupo</h3>
      <span> Para reservar el cupo se realizan los siguientes pasos: </span>
      <ul class="pl-4 list-disc">
        <li>
          Pagar el valor completo del curso o capacitación desde el botón
          comprar curso.
        </li>
        <li>
          Una vez que se finalice el pago, recibiremos una notificación de
          inmediato. Nos pondremos en contacto contigo, en nuestros horarios de
          atención, y continuaremos con el proceso de inscripción.
        </li>
        <li>
          Si deseas realizar tu inscripción por transferencia o en nuestras
          oficinas, déjanos un mensaje en nuestro whatsapp o correo eléctronico
          para entregarte los pasos a seguir.
        </li>
      </ul>
    </div>
  </div>

  <div class="bg-base-100 shadow-md rounded-md card">
    <div class="max-w-full card-body">
      <h3 class="mb-1 font-bold text-sky-600 text-4xl">Docentes</h3>
      {
        docentes.map((docente) => {
          return <div class="p-2 prose" set:html={docente} />;
        })
      }
    </div>
  </div>
</div>

<style>
  #fedocu {
    p {
      margin: 0 !important;
    }
    h4 {
      margin-top: 0 !important;
    }
  }
</style>
