---
const { texto } = Astro.props;
---

<div class="bg-base-100 shadow-md rounded-md card" id="introcurso">
  <div class="max-w-full card-body prose" set:html={texto} />
</div>

<style>
  #introcurso {
    h2 {
      margin-top: 0 !important;
    }
    p {
      margin: 0 !important;
    }
  }
</style>
