---
interface Props {
  requisitos?: string;
  incluye?: string;
}

const { requisitos, incluye } = Astro.props;
---

<div>
  <div class="gap-4 grid grid-cols-1 md:grid-cols-2">
    {
      incluye && (
        <div class="col-span-1 bg-base-100 shadow-md rounded-md card">
          <div class="max-w-full card-body prose">
            <h2 class="mb-1 font-bold text-sky-600 text-4xl">Incluye</h2>
            <div set:html={incluye} />
          </div>
        </div>
      )
    }
    {
      requisitos && (
        <div class="col-span-1 bg-base-100 shadow-md rounded-md card">
          <div class="max-w-full card-body prose">
            <h2 class="mb-1 font-bold text-sky-600 text-4xl">Requisitos</h2>
            <div set:html={requisitos} />
          </div>
        </div>
      )
    }
  </div>
</div>
