---
const { requisitos, plan } = Astro.props;
---

<div class="gap-4 grid grid-cols-1" id="replan">
  {
    requisitos && (
      <div class="bg-base-100 shadow-md rounded-md card">
        <div class="max-w-full card-body prose">
          <h3 class="mb-1 font-bold text-sky-600 text-4xl">Requisitos</h3>
          <div set:html={requisitos} />
        </div>
      </div>
    )
  }
  {
    plan && (
      <div class="bg-base-100 shadow-md rounded-md card">
        <div class="max-w-full card-body prose">
          <h3 class="mb-1 font-bold text-sky-600 text-4xl">Plan de Estudios</h3>
          <div set:html={plan} />
        </div>
      </div>
    )
  }
</div>

<style>
  #replan {
    h4 {
      font-size: 1.5rem;
      margin-top: 20px !important;
    }
  }
</style>
