---
import ReservaPrecio from "@components/cursos/ReservaPrecio.astro";

interface Props {
  precio: number;
  descuento?: number;
  fecha?: string;
  id: number;
}
const { precio, descuento, id, fecha } = Astro.props;

const moneda = (valor) => {
  const formatterPeso = new Intl.NumberFormat("es-CL", {
    style: "currency",
    currency: "CLP",
    minimumFractionDigits: 0,
  });
  return formatterPeso.format(valor);
};

const fechaFormateada = (fecha) => {
  const fechaObj = new Date(fecha);
  const dia = fechaObj.getDate();
  const mes = fechaObj.getMonth() + 1;
  const anio = fechaObj.getFullYear();
  const meses = [
    "Enero",
    "Febrero",
    "Marzo",
    "Abril",
    "Mayo",
    "Junio",
    "Julio",
    "Agosto",
    "Septiembre",
    "Octubre",
    "Noviembre",
    "Diciembre",
  ];
  return `${dia} de ${meses[mes - 1]} de ${anio}`;
};
---

<div
  class="gap-4 grid grid-cols-1 lg:grid-cols-2 shadow stats stats-vertical lg:stats-horizontal"
>
  <div class="col-span-1 stat">
    <div class="stat-title">Valores y Formas de pago</div>
    <h4 class="font-bold text-2xl">
      Arancel Total <span class="font-light text-md line-through"
        >{descuento == 0 ? "" : moneda(precio)}</span
      >

      <p class="font-light text-sm">
        {
          descuento == 0
            ? ""
            : `Arancel con descuento. Válido hasta el ${fechaFormateada(fecha)}`
        }
      </p>
      <div class="lg:p-6 py-6 text-sky-600 text-4xl text-center stat-value">
        {descuento == 0 ? moneda(precio) : moneda(descuento)} CLP
      </div>
      <div>
        <button
          id="compra1"
          class="bg-sky-600 py-6 rounded-md w-full text-white uppercase btn"
          aria-data-id={id}
        >
          Inscríbete aquí
        </button>
      </div>
    </h4>
  </div>
  <div class="col-span-1 stat">
    <div class="stat-title">Medios de Pago</div>
    <span> Pago con tarjeta de débito o tarjeta de crédito. </span>
    <img src="/images/medios-pago.png" alt="Medios de pago" />
  </div>
</div>

<script>
  import { compra } from "../../lib/cursos.ts";

  const btnCompra = document.getElementById("compra1");
  const id = btnCompra?.getAttribute("aria-data-id");

  btnCompra?.addEventListener("click", () => {
    compra(id);
  });
</script>
