---
import Inscripcion from "@components/extras/Inscripcion.astro";
interface Props {
  className?: string;
}
const { className = "" } = Astro.props;
---

<div class={`@container container mx-auto px-4 overflow-hidden ${className}`}>
  <slot />
</div>

<Inscripcion />
