---
import Inscripcion from "@components/extras/Inscripcion.astro";
interface Props {
  className?: string;
}
const { className = "" } = Astro.props;
---

<div
  class={`@container container mx-auto px-4 overflow-hidden max-w-7xl ${className}`}
>
  <slot />
</div>

<Inscripcion />
