---
import "../styles/global.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description: string;
  url: string;
  image: string;
  keywords: string;
}

const { title, description, url, image, keywords } = Astro.props
  .dataPag as Props;
---

<!doctype html>
<html lang="es" data-theme="emerald">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: image,
        },
      }}
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/logos/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <script src="/js/pixel.js" is:inline></script>
    <script src="/js/google.js" is:inline></script>
    <script src="/js/clarity.js" is:inline></script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=1078650119240088&ev=PageView&noscript=1"
      /></noscript
    >
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K9Q9ZD7"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DYY8B92XC9"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-DYY8B92XC9");
    </script>
  </head>
  <body class="bg-white">
    <Header />
    <div
      class="flex justify-center items-center bg-red-600 mt-15 p-3 lg:p-0 w-full lg:h-12 font-bold text-white text-center"
    >
      Lanzamiento de nuevo diseño de la página web 14 de enero 2026
    </div>
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1;
  }
</style>
